Repository whylabs/whylogs, pull requests merged in 2022-09, with the labels that each got.

#762 Add Serialization and Deerialization Registry
  java/core/src/main/java/com/whylogs/core/metrics/IntegralMetric.java
  java/core/src/main/java/com/whylogs/core/metrics/deserializers/DeserializerRegistry.java
  java/core/src/main/java/com/whylogs/core/metrics/deserializers/FloatDeserializer.java
  java/core/src/main/java/com/whylogs/core/metrics/deserializers/IDeserialization.java
  java/core/src/main/java/com/whylogs/core/metrics/deserializers/IntDeserializer.java
  java/core/src/main/java/com/whylogs/core/metrics/serializers/ISerialization.java
  java/core/src/main/java/com/whylogs/core/metrics/serializers/NumberSerializer.java
  java/core/src/main/java/com/whylogs/core/metrics/serializers/SerializerRegistry.java
  java/core/src/test/java/com/whylogs/core/metrics/deserializer/TestDeserializer.java
  java/core/src/test/java/com/whylogs/core/metrics/serializers/TestSerializer.java
Labels: java

#779 StandardResolver and Supporting classes
  java/core/src/main/java/com/whylogs/core/DataTypes.java
  java/core/src/main/java/com/whylogs/core/resolvers/Resolver.java
  java/core/src/main/java/com/whylogs/core/resolvers/StandardResolver.java
  java/core/src/main/java/com/whylogs/core/schemas/ColumnSchema.java
  java/core/src/main/java/com/whylogs/core/schemas/DatasetSchema.java
  java/core/src/test/java/com/whylogs/core/TestDataTypes.java
  java/core/src/test/java/com/whylogs/core/resolvers/TestStandardResolver.java
  java/core/src/test/java/com/whylogs/core/schemas/TestColumnSchema.java
  java/core/src/test/java/com/whylogs/core/schemas/TestDatasetSchema.java
Labels: java

#823 Have Writer's Return a Response
  python/tests/api/writer/test_local.py
  python/tests/api/writer/test_mlflow.py
  python/tests/api/writer/test_s3.py
  python/tests/api/writer/test_whylabs.py
  python/whylogs/api/writer/local.py
  python/whylogs/api/writer/mlflow.py
  python/whylogs/api/writer/s3.py
  python/whylogs/api/writer/whylabs.py
  python/whylogs/api/writer/writer.py
  python/whylogs/core/dataset_profile.py
  python/whylogs/core/view/dataset_profile_view.py
  python/whylogs/core/view/segmented_dataset_profile_view.py
Labels: bug

#854 Update whylabs-client version for feature importance
  python/poetry.lock
  python/pyproject.toml
Labels: enhancement
